.project-list-container{
    background-color: #f1f1f1;
    cursor: pointer;
    .project-list-btn{
        color:#000000;
        cursor: pointer;
        text-decoration: none;
        &:hover{

        }
    }

    &:hover{
        -ms-transform: scale(1.1);
        -moz-transform: scale(1.1);
        -webkit-transform: scale(1.1);
        -o-transform: scale(1.1);
        transform: scale(1.1);
        transition: all 0.5s;
    }
}
.font-white.bg-medium{
    background-color: #ed8a2d!important;
}