<div class="row">
    <!-- Existing Ticket Setting Options -->
    <div *ngIf="ticketCategoryList" class="col-lg-6">
      <div *ngFor="let setting of ticketCategoryList;index as i" class="pad-0 mar-0 row">
        <div class="form-group half-width">
          <div class="form-group full-width">
            <div class="form-group">
              <label for="setting.name" class="w-limit-60p">Name</label>
              <input [(ngModel)]="setting.name" name="setting-{{setting.id}}-name" />
            </div>

            <button mat-button color="primary" (click)="updateTicketCategorySetting(setting)">Update</button>
          </div>
        </div>
      </div>

    </div>
    <!-- Add New Ticket Setting Options -->
    <div class="col-lg-6" *ngIf="ticketSettingToAdd">
      <div class="form-group half-width">
        <div class="form-group full-width">
          <label for="setting.name" class="w-limit-60p">Name</label>
          <input name="ticket-setting-name" [(ngModel)]="ticketSettingToAdd.name" placeholder="Name" />
        </div>
        <div class="form-group full-width">
          <div class="form-group full-width">
            <button mat-raised-button color="primary" (click)="addTicketCategorySetting()">Save</button>
          </div>
        </div>
      </div>
    </div>
  </div>