.navbar.navbar-expand-lg.sticky-top{
    position: fixed;
    width: 100%!important;
}
.notification-bell-icon{
    font-size: 22px;
}
.notification-navbar-panel{
    width: 300px;
    margin-left:-60px;
}
.unread{
    color:lightblue;
}