<nav class="navbar navbar-expand-lg sticky-top navbar-dark bg-dark">
  <a class="nav-link" style="position: relative" [routerLink]="['/',auth_client,'admin']"><img width="40px" height="40px" style="position: absolute;top:-10px;" [src]="logo" alt="Ecomia"/></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#topmenu-nav" aria-controls="topmenu-nav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <a href="#" (click)="toggleSideNav()" class="side-nav-toggler-btn d-none d-lg-block" [ngClass]="[ currentSideBarMenu === 1 ? 'menu': 'menu_open']"><mat-icon>{{ currentSideBarMenu == 1? 'menu' :'menu_open' }}</mat-icon></a>
  <div class="collapse navbar-collapse justify-content-md-center" id="topmenu-nav">
  <!-- <div class="collapse navbar-collapse" id="topmenu-nav"> -->
    <ul class="navbar-nav  ml-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown"
      [ngClass]="{'active':activeURL === '/admin/projects' || parentUrl === 'projects' || activeURL === '/admin/projects/all' || activeURL === '/admin/projects/pending' || activeURL === '/admin/fund/pending'}"
      >
        <a class="nav-link dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">
          Projects
        </a>
        <div *ngIf="projects" class="dropdown-menu">
          <a  *ngFor="let proj of projects"  class="dropdown-item" [ngClass]="{'active': activeURL === '/admin/projects/'+proj.slug }" [routerLink]="['projects', proj.slug]">{{proj.name | titlecase}}</a>
          <a  *ngIf="this.authenticatedUser  && this.authenticatedUser.user_crud_access.value && this.authenticatedUser.user_crud_access.value.value == 1" class="dropdown-item font-20" [ngClass]="{'active': activeURL === '/admin/projects/add' || activeURL === '/admin/projects' }" [routerLink]="['projects','add']"><b class="font-20">Add Project</b></a>
        </div>
        <div *ngIf="!projects" class="dropdown-menu">
            <a *ngIf="this.authenticatedUser  && this.authenticatedUser.user_crud_access.value && this.authenticatedUser.user_crud_access.value.value == 1" class="dropdown-item font-20" [ngClass]="{'active': activeURL === '/admin/projects/add' || activeURL === '/admin/projects' }" [routerLink]="['projects','add']"><b class="font-20">Add Project</b></a>
            <!-- <a class="dropdown-item" [ngClass]="{'active': activeURL === '/admin/projects/incoming' }" [routerLink]="['/admin/fund/{{proj.name}}']">Mass Depot</a> -->
          </div>
      </li>

      <li class="nav-item" [ngClass]="{'active': activeURL === '/admin/news' }">
        <a class="nav-link" [routerLink]="['news']">News</a>
      </li>

      <li class="nav-item" [ngClass]="{'active': activeURL === '/admin/activity' }">
        <a class="nav-link" [routerLink]="['activity']">Activity Logs</a>
      </li>
    </ul>

    <ul class="navbar-nav ml-auto">
      <!-- Dropdown -->
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pad-x-40 pad-x-sm-0" href="#" id="navbardrop" data-toggle="dropdown">
          <mat-icon *ngIf="unread_notification_count" [matBadge]="unread_notification_count" matBadgeColor="warn" class="material-icons notification-bell-icon">notifications</mat-icon>
          <mat-icon *ngIf="!unread_notification_count" matBadgeColor="warn" class="material-icons notification-bell-icon">notifications</mat-icon>
        </a>
        <div *ngIf="notification.length" class="dropdown-menu notification-navbar-panel">
          <a *ngFor="let ntf of notification;let i = index" [href]="ntf.app_link" (click)="read(ntf.app_link,i)" class="dropdown-item" [ngClass]="{'unread': ntf.read }" target="_blank" >{{ntf.data.message}}</a>
          <div class="text-center"><a href="#" (click)="readAll()">Mark all as read</a></div>
        </div>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle pad-x-40 pad-x-sm-0" href="#" id="navbardrop" data-toggle="dropdown">
          <img *ngIf="user_avatar" class="rounded-circle" [src]="user_avatar" height="22" width="22" alt="Account">
          <img *ngIf="!user_avatar" class="rounded-circle" [src]="default_avatar" height="22" width="22" alt="Account">
        </a>
        <div class="dropdown-menu">
          <a class="dropdown-item"><i class="pad-x-5 fa fa-user-circle-o"></i>Profile</a>
          <a class="dropdown-item" [routerLink]="['settings']"><i class="pad-x-5 fa fa-wrench"></i>Settings</a>
          <a href="#" class="dropdown-item" (click)="logout()"><i class="pad-x-5 fa fa-sign-out"></i>Logout</a>
        </div>
      </li>
    </ul>

    <div class="user-update-global"  *ngIf="!hide_user_update && this.authenticatedUser  && this.authenticatedUser.user_crud_access.value && this.authenticatedUser.user_crud_access.value.value == 0">
      <div class="col-lg-12">
        <p>Your is currently on <b>View  Mode</b> only. Kindly contact your administrator or <a href="#" (click)="sendAccessRequest()">Request an access</a></p>
        <a href="#" class="close-user-update-btn" (click)="hideUserUpdatePanel()">Close</a>
      </div>
    </div>
  </div>
</nav>