.navbar.navbar-expand-lg.sticky-top{
    position: fixed;
    width: 100%!important;
}
.notification-bell-icon{
    font-size: 22px;
}
.notification-navbar-panel{
    width: 300px;
    margin-left:-60px;
}
.unread{
    color:lightblue;
}
.side-nav-toggler-btn{
    position: absolute;
    left: 275px;
    transition-duration: 0.1s;
    transition-delay: 0.0s;
}
.side-nav-toggler-btn.menu_open{
    left: 5%;
    top: 35%;
}
.user-update-global{
    position: absolute;
    top: 70px;
    background: #fdfdfd;
    padding: 30px;
    color: red;
    font-weight: bolder;
    border: 1px solid;
    border-color: #c9ad0a;
}
.close-user-update-btn{
    position: absolute;
    top: 25px;
    right: -25px;
    /* border: 1px solid grey; */
    /* border-radius: 50%; */
    padding: 0px 10px;
    font-size: 20px;
    color: red!important;
}