<div class="col-lg-12">
  <div  class="col-lg-12 content-option text-right mar-10 pad-10">
      <a href="#" *ngIf="!memberFormShow" (click)="toggleMemberForm()" class="btn btn-success mar-r-20 q-width"><i class="fa fa-plus-square mar-r-5 q-width"> Add Member</i></a>
      <a href="#" *ngIf="memberFormShow && !showMemberSearchForm" (click)="toggleMemberForm()" class="btn btn-warning mar-r-20 q-width"><i class="fa fa-chevron-left mar-r-5 q-width"> Return</i></a>
      <a href="#" *ngIf="memberFormShow && !showMemberSearchForm" (click)="toggleMemberSearchForm()" class="btn btn-success mar-r-20 q-width"><i class="fa fa-search mar-r-5 q-width">Search member</i></a> 
      <a href="#" *ngIf="memberFormShow && showMemberSearchForm" (click)="toggleMemberSearchForm()" class="btn btn-warning mar-r-20 q-width"><i class="fa fa-chevron-left mar-r-5 q-width"> Return</i></a>
    </div>
  <div  *ngIf="!memberFormShow" class="row member-list">
    <div class="table-responsive">
      <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-w">
        <!--- Note that these columns can be defined in any order.
                      The actual rendered columns are set as a property on the row definition" -->
  
        <!-- Username Column -->
        <ng-container matColumnDef="username">
          <th mat-header-cell *matHeaderCellDef> Username </th>
          <td mat-cell *matCellDef="let element"> {{element.user.name}} </td>
        </ng-container>
  
        <!-- First Name Column -->
        <ng-container matColumnDef="first_name">
          <th mat-header-cell *matHeaderCellDef> First Name </th>
          <td mat-cell *matCellDef="let element"> {{element.user_info.first_name}} </td>
        </ng-container>
  
        <!-- Last Name Column -->
        <ng-container matColumnDef="last_name">
          <th mat-header-cell *matHeaderCellDef> Last Name </th>
          <td mat-cell *matCellDef="let element"> {{element.user_info.last_name}} </td>
        </ng-container>
  
        <!-- Email Column -->
        <ng-container matColumnDef="email">
          <th mat-header-cell *matHeaderCellDef> Email </th>
          <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
        </ng-container>
  
        <!-- Options Column -->
        <ng-container matColumnDef="action">
          <th mat-header-cell *matHeaderCellDef> Option </th>
          <td mat-cell *matCellDef="let element"> <a  class="btn btn-success" [routerLink]="['/admin/projects', project_name , 'members' ,element.user.id ]"> <i class="fa fa-eye"></i></a> </td>
        </ng-container>

        <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
        <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
      </table>
      <mat-paginator *ngIf="length" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
        (page)="onPageChange($event)">
        ></mat-paginator>
    </div>
  </div>
  <div  *ngIf="memberFormShow" class="col-lg-12">
    <!-- Add New Account -->
    <div *ngIf="memberFormShow && !showMemberSearchForm"  [@enterAnimation] mat-form  class="row">
      <form
        [formGroup]="memberForm" id="memberForm" 
        (submit)="addNewMember()"
        novalidate>
        <!-- <div class="inline-block pull-left half-width text-left">
                <img class=""   *ngIf="(uploadedImage || defaultImage != null) && !loadingImage" ngShow="!loadingImage" [src]="defaultImage ? defaultImage : uploadedImage" width="100" height="100">
                <img class="rounded-circle" *ngIf="loadingImage" src="../../assets/icon/loading.gif"  width="50" height="50" alt="loading logo">
                <div>
                    <label for="file">Update</label>
                    <button mat-button color="accent" 
                            mat-mini-fab (click)="imgFileInput.click();">
                        <mat-icon>attachment</mat-icon>
                    </button> 
                    <input hidden type='file'#imgFileInput (change)="readUrl($event)">
                </div>
        </div> -->

        <!-- <div class="inline-block pull-left half-width">
            
        </div> -->
        <!-- Title -->
        <div class="half-width row">
            <div class="form-group half-width">
                <mat-form-field class="full-w">
                    <input matInput formControlName="title" placeholder="Title" [(ngModel)]="memberToAdd.title" required>
                </mat-form-field>
            </div>
            <!-- Description -->
            <div class="form-group full-w">
                <mat-form-field class="full-w">
                    <textarea matInput formControlName="description" matTextareaAutosize matAutosizeMinRows=5  matAutosizeMaxRows=6 placeholder="Description" [(ngModel)]="memberToAdd.description" required></textarea>
                </mat-form-field>
            </div>
            <!-- Project -->
            <!-- <div class="form-group full-w">
                <p *ngIf="!members.length " class="text-danger">This project has no member yet. Consider adding one first.</p>
                <mat-form-field>
                    <mat-label>Assign to </mat-label>
                    <select matNativeControl  formControlName="assigned_to" [(ngModel)]="memberToAdd.assigned_to" name="assigned_to">
                      <option value="" selected>None</option>
                      <option *ngFor="let member of members" [value]="member.user.id">
                        {{member.user_info.first_name }} {{ member.user_info.last_name }} ({{member.user.username}})
                      </option>
                    </select>
                </mat-form-field>
            </div> -->
            <!-- Action -->
            <div class="form-group full-w">
                <mat-action-row>
                    <button mat-button color="primary" [disabled]="(!memberForm.valid && !memberForm.touched ) || submitting" (click)="addNewTicket()" >Update</button>
                </mat-action-row>
            </div>
            <!-- <mat-form-field class="">
                <input matInput [matDatepicker]="picker" (blur)="setAge()" (input)="setAge()" formControlName="birth_date" placeholder="Birth Date" [matDatepicker]="picker" (focus)="picker.open()" [(ngModel)]="memberToAdd.title" required [readonly]="!canEditData">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker (closed)="setAge()"></mat-datepicker>
                <mat-hint align="end">
                    <mat-icon class="mat-icon">schedule</mat-icon>
                    <span aria-live="polite">Age: {{ age ? age : 0}} </span>
                </mat-hint>
            </mat-form-field> -->

            <!-- <mat-form-field class="">
                <input matInput [(ngModel)]="memberToAdd.title" formControlName="zip" #postalCode maxLength="4" placeholder="Postal Code" pattern="[0-9]{4}" required [readonly]="!canEditData">
                <mat-hint align="end">
                    <mat-icon>mode_edit</mat-icon>
                    <span aria-live="polite">{{postalCode.value.length}} / 4</span>
                </mat-hint>
            </mat-form-field> -->
        </div>
      </form>
    </div>
    <!-- Search for existing members from other projects not yet assigend to this project -->
    <div *ngIf="memberFormShow && showMemberSearchForm"  [@enterAnimation] mat-form  class="row">
        <div class="form-group p-rel">
            <label for="member-search-lbl">Search for members:</label>
            <input type="email" #memberSearchField class="form-control" id="memberSearch" aria-describedby="member-search-help" placeholder="Search ...">
            <a href="#" class="member-search-btn p-ab" (click)="memberSearch(memberSearchField.value)"><i class="fa fa-search"></i></a>
            <small id="member-search-help" class="form-text text-muted">Directory only include members that are member of projects you are part of.</small>
        </div>
    </div>
  </div>
</div>