<div class="col-lg-12 projects-page">
    <div class="mx-auto pad-20 text-center" style="width:280px">
        <h2>Activity Log</h2>
    </div>
    <div class="row">
        <div class="table-responsive">
            <table  mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-w">
              <!--- Note that these columns can be defined in any order.
                            The actual rendered columns are set as a property on the row definition" -->
              <!-- Module Column -->
              <ng-container  matColumnDef="module">
                    <th mat-header-cell *matHeaderCellDef> Module </th>
                    <td mat-cell *matCellDef="let element">  {{element.module_id ? element.module.name :''}} </td>
              </ng-container>

               <!-- Action By Column -->
               <ng-container  matColumnDef="user">
                <th mat-header-cell *matHeaderCellDef> Action By</th>
                <td mat-cell *matCellDef="let element"> {{element.user.username}} </td>
              </ng-container>
              <!-- Description Column -->
              <ng-container  matColumnDef="description">
                <th mat-header-cell *matHeaderCellDef> Description</th>
                <td mat-cell *matCellDef="let element"> {{element.description}} </td>
              </ng-container>

              <!-- Project Column -->
              <ng-container  matColumnDef="project">
                <th mat-header-cell *matHeaderCellDef>Project</th>
                <td mat-cell *matCellDef="let element"> {{element.project_id ? element.project.name : 'NA'}} </td>
              </ng-container>

              <!-- Date Column -->
              <ng-container  matColumnDef="updated_at">
                <th mat-header-cell *matHeaderCellDef> Date </th>
                <td mat-cell *matCellDef="let element"> {{element.updated_at}} </td>
              </ng-container>
              
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
              <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>
            <mat-paginator *ngIf="logs.length" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
              (page)="onPageChange($event)">
              ></mat-paginator>

          </div>
          <div *ngIf="!logs.length" class="col-lg-12 text-center">
            <img  [src]="loading" alt="Please wait...">
          </div>
    </div>
</div>