.navbar-container{
    position: relative;
    display: block;
    clear: both;
    margin-bottom: 42px;
}
nav.navbar.navbar-expand-lg.sticky-top{
    position: fixed;
}
#chart-content {
    margin: auto;
    width: 1024px;
    background-color: #FFFFFF;
    padding: 20px;
}

#footer{
    position: fixed;
    bottom: 0;
    text-align: center;
    width: 100%;
    background: #343a40 !important;
    z-index: 99;
    color: #FAFAFA;
    padding: 10px;
}

// Left Sidebar Menu
.left-nav-bar{
    background: #2d323e!important;
    height: auto;
    position: absolute;
    bottom: 0;
    left: 0;
    top: 0;
    margin-bottom: -46%;
    padding-bottom: 0%;
    z-index: 98;
    transition-duration: 0.1s;
    transition-delay: 0.0s;
}

.parent-left-menu-item{
    list-style: none;
    padding: 5px;
    // background: #3af3f3;
    border: 1px solid gray;
    a{
        display: block!important;
        width: 100%;
        text-decoration: none;
        color:#fafafa;
        font-weight: bolder;
        font-size: 1.4em;
    }
}
.parent-left-menu-item:hover,
.parent-left-menu-item.active{
    background: #039be5;
}
.parent-left-menu-item .hidden{
    display: none!important;
}
.left-nav-bar.collapse-sidebar{
    width: 3%!important;
}
.main-content.max-main-content{
    width: 96.77%!important;
    margin-left: 3.33%;
}

@media only screen and (max-width : 991px) {
    .navbar-container{

        margin-bottom: 36px;
    }
}
@media only screen and (max-width : 767px) {
    li.parent-left-menu-item a.menu-item.d-none.d-sm-none{
        display:none!important;
    }
    li.parent-left-menu-item a.menu-item.d-sm-block.hidden{
        display: block!important;
    }
    .h-100{
        min-height: 280px!important;
    }
    .user-avatar-img{
        width: 25px!important;
        height: 25px!important;
    }
}
@media only screen and (max-width : 575px) {
    .user-profile-name{
        display: block!important;
    }
    .left-nav-bar{
        position: relative!important;
        margin-bottom: 20px;
    }
    .parent-left-menu,
    .parent-left-menu-ul{
        display: flex;
        width: 100%;
        margin:0;
    }
    .parent-left-menu-item {
        display: inline-block;
        width: 100%;
        text-align: center;
    }
    #breadcrumb {
        margin-left: 45px!important;
    }
}


