<!--The content below is only a placeholder and can be replaced.-->
<div class="navbar-container">
<app-navbar></app-navbar>
</div>
<div class="col-md-12 pad-0">
    <div class="col-md-12 mar-0 h-100" *ngIf="activeURL == '/admin/profile' || activeURL == '/admin/settings' || activeURL == '/admin/projects' || activeURL == '/admin' || activeURL == '/admin/projects/new'">
    <!--
        <div class="col-md-6 pad-20 text-center">
            <canvas id="chart-content" #chart></canvas>
        </div>

        <div class="col-md-3 pad-20 text-center">
            <div class="row">
                <div class="col-md-6">
                    <label>Investor of the month</label>
                </div>
                <div class="col-md-6">
                    <label>Event of the month</label>
                </div>
            </div>
        </div> 
    --> 
        <app-left-menu-top></app-left-menu-top>
        <div class="col-lg-10 offset-lg-2 col-md-11 offset-md-1">
            <app-dashboard *ngIf="activeURL == '/admin'"></app-dashboard>
            <app-profile *ngIf="activeURL == '/admin/profile'"></app-profile>
            <app-project *ngIf="activeURL == '/admin/projects'"></app-project>
            <app-project-new *ngIf="activeURL == '/admin/projects/new'"></app-project-new>
            <!-- <app-profile *ngIf="activeURL == '/admin/profile' && activeURL !== '/admin/projects' && activeURL !== '/admin/settings'"></app-profile> -->
            <!-- <router-outlet *ngIf="profile || activeURL == '/admin/settings'  && (!admin_project_sub && !admin_sub_2)"></router-outlet> -->
        </div>
    </div>
    <div class="col-md-12 mar-0 h-100 second" *ngIf="activeURL !== '/admin/profile' && activeURL !== '/admin/projects' && activeURL !== '/admin/projects/new' && activeURL !== '/admin/settings' && activeURL !== '/admin'">
        <app-left-menu *ngIf="admin_sub_2" [auth_profile]="profile"  [project_name]="admin_sub_2" [admin_project_sub]="admin_project_sub"></app-left-menu>
        <div class="col-lg-10 offset-lg-2 col-md-11 offset-md-1">
            <!-- Breadcrumbs -->
            <app-breadcrumb [slug_list]="breadcrumb" [project_name]="admin_sub_2"></app-breadcrumb>
            <!-- Main Content -->
            <router-outlet></router-outlet>
        </div>
    </div>
</div>
<div id="footer"><p>Footer</p></div>
