<div class="row"  *ngIf="!selected_patch && loaded">
    <!-- Existing Ticket Setting Options -->
    <div *ngIf="projectPatchList" class="col-lg-12">
      <!-- <div *ngFor="let patch of projectPatchList;index as i" class="pad-0 mar-0 row">
        <div class="form-group half-width">
          <div class="form-group full-width">
            <div class="form-group">
              <label for="patch.name" class="w-limit-60p">Name</label>
              <input [(ngModel)]="patch.name" name="patch-{{patch.id}}-name" />
            </div>

            <button mat-button color="primary" (click)="updateTicketPatchSetting(patch)">Update</button>
          </div>
        </div>
      </div> -->
      <div class="table-responsive table-striped">
        <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Name</th>
                  <th>Ticket Associated</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Date</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody *ngIf="loading" class="text-center">
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-center"><img src="../../../../assets/icon/loading.gif"></td>
                  <td></td>
                  <td></td>
              </tr>
          </tbody>
          <tbody *ngIf="projectPatchList">
              <tr class="clickable" *ngFor="let patch of projectPatchList">
                <td>{{ patch.id }}</td>
                <td>{{ patch.name }}</td>
                <td>{{ patch.tickets.length ? patch.tickets.length : 'None'  }}</td>
                <td>{{ patch.creator.username }}</td>
                <td>{{ patch.created_at | date : 'medium' }}</td>
                <td>
                    <a href="#" (click)="viewPatch(patch)" class="btn btn-success"><i class="fa fa-pencil"></i></a>
                    <!-- <a href="#"
                            [routerLink]="['patches', patch.id]"
                            class="btn btn-success mar-r-5"><i
                                class="fa fa-eye"></i></a> -->
                </td>
              </tr>
          </tbody>
          <tbody *ngIf="!projectPatchList">
              <tr>
                  <td>No Patch</td>
              </tr>
          </tbody>
        </table>
      </div>
      <div *ngIf="projectPatchList && !loading" class="col-lg-12">
          <mat-paginator  [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
              (page)="onPageChange($event)">
              ></mat-paginator>
      </div>

    </div>
    <!-- Add New Ticket Setting Options -->
    <div class="col-lg-12" *ngIf="ticketPatchSetting">
      <div class="form-group half-width">
        <div class="form-group full-width">
          <label for="setting.name" class="w-limit-60p">Name</label>
          <input name="ticket-setting-name" [(ngModel)]="ticketPatchSetting.name" placeholder="Name" />
        </div>
        <div class="form-group full-width">
          <div class="form-group full-width">
            <button mat-raised-button color="primary" (click)="addTicketPatchSetting()">Save</button>
          </div>
        </div>
      </div>
    </div>
</div>

<div class="row" *ngIf="selected_patch && loaded">
  <div class="co-lg-12 text-center">
      <h1>{{selected_patch.name}}</h1>
  </div>
  <div class="col-lg-12 text-right">
      <a href="#" (click)="returnToPatchList()" class="btn btn-warning mar-r-20 q-width"><i class="fa fa-chevron-left mar-r-5 q-width"> Return</i></a> 
  </div>
  <div class="col-lg-12">
    <form
        mat-form
        [formGroup]="ticketPatchForm" id="ticketPatchForm"
        (submit)="updateTicketPatchSetting()"
        novalidate
    >

      <div class="form-group col-lg-6">
        <mat-form-field>
          <input matInput formControlName="name" placeholder="Patch Name" [(ngModel)]="selected_patch.name" required>
        </mat-form-field>
      </div>
      <div class="form-group col-lg-6">
        <mat-action-row>
          <button mat-button color="primary"
            [disabled]="(!ticketPatchForm.valid && !ticketPatchForm.touched ) || ticketPatchFormSubmitting">Save</button>
        </mat-action-row>
      </div>
    </form>
  </div>
  <div class="col-lg-12" >
    <div class="row">
      <h1>Associated Tickets</h1>
    </div>
    <div class="row" *ngIf="selected_patch.tickets.length">
      <table class="table">
          <thead>
              <tr>
                  <th scope="col">#</th>
                  <th scope="col">Title</th>
                  <th scope="col">Assigned to</th>
                  <th scope="col">Status</th>
                  <th scope="col" class="text-center">Priority</th>
                  <th scope="col">Created By</th>
                  <th scope="col">Date</th>
                  <th scope="col">Action</th>
              </tr>
          </thead>
          <tbody *ngIf="loading" class="text-center">
              <tr>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td class="text-center"><img src="../../../../assets/icon/loading.gif"></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
              </tr>
          </tbody>
          <tbody *ngIf="selected_patch.tickets" >
              <tr class="clickable" *ngFor="let ticket of selected_patch.tickets">
                  <th scope="row">{{ticket.id}}</th>
                  <td [routerLink]="[ticket.id]">{{ticket.title}}</td>
                  <td [routerLink]="[ticket.id]" *ngIf="ticket.assigned_to && !ticket.assignees" [attr.data-user-id]="ticket.assigned_to.id">{{ticket.assigned_to.name}}</td>
                  <td [routerLink]="[ticket.id]" *ngIf="ticket.assignees" >
                      <a *ngFor="let assgn of ticket.assignees;let i = index">{{assgn.user.username}}{{ i >= 0 && i < (ticket.assignees.length-1) ? ', ': ''}}</a>
                  </td>
                  <td [routerLink]="[ticket.id]" [ngStyle]="{'background-color': ticket.status.color, 'color':'#fafafa'}">{{ticket.status.name | titlecase}}</td>
                  <td [routerLink]="[ticket.id]" class="text-center" [ngStyle]="{'background-color': ticket.priority.color, 'color':'#fafafa'}">{{ticket.priority.name | titlecase}}</td>
                  <td [routerLink]="[ticket.id]">{{ticket.created_by}}</td>
                  <td [routerLink]="[ticket.id]">{{ticket.created_at | date: 'medium'}}</td>
                  <a href="#" (click)="viewTicket(ticket.id)" class="btn btn-success"><i class="fa fa-pencil"></i></a>
              </tr>
          </tbody>
      </table>
    </div>
    <div *ngIf="!selected_patch.tickets.length" class="text-center">
      <label for="assocaited-tickets">No ticket/s associated for this patch.</label>
    </div>
  </div>

</div>