<div class="container">
    <div class="row mar-t-20p">
        <div class="col-lg-12 text-center" *ngIf="token_valid">
            <h3>Create new password</h3>
            <form [formGroup]="passwordResetForm" (submit)="onSubmit()">
                  <!-- Password -->
                  <input type="hidden" formControlName="token"
                            [(ngModel)]="reset_token" required>
                  <div class="form-group full-w">
                    <mat-form-field class="full-w" [formGroup]="passwordResetForm">
                        <input type="password" matInput formControlName="password" [errorStateMatcher]="errorMatcher"
                            placeholder="Password" [(ngModel)]="passwordResetForm.password" required>
                    </mat-form-field>
                    <mat-error *ngIf="passwordResetForm.controls.password.dirty && passwordResetForm.hasError('strong')">Must be
                        alphanumeric with atleast 1 uppercase and lowercase character.</mat-error>
                    <mat-error
                        *ngIf="passwordResetForm.controls.confirmPassword.dirty && passwordResetForm.controls.password.dirty && passwordResetForm.hasError('passwordsDoNotMatch')">
                        Password does not match.</mat-error>
                </div>
                <!-- Confirm Password -->
                <div class="form-group full-w">
                    <mat-form-field class="full-w" [formGroup]="passwordResetForm">
                        <input type="password" matInput formControlName="confirmPassword" placeholder="Confirm Password"
                            [(ngModel)]="passwordResetForm.confirmPassword" required>
                    </mat-form-field>
                </div>

                <div class="col-lg-12">
                    <div class="form-group full-w">
                        <mat-action-row>
                            <button mat-button mat-raised-button  mat-primary color="accent" [disabled]="!passwordResetForm.valid  || passwordResetForm.errors ">Reset</button>
                        </mat-action-row>
                    </div>
                </div>
            </form>
        </div>
        <div class="col-lg-12 text-center" *ngIf="!token_valid">
            <p class="text-danger">Invalid Token</p>
            <a  [routerLink]="['/login/password_reset']" mat-button mat-raised-button  mat-primary color="warn" >Reset Password</a>
        </div>
    </div>
</div>