<div class="col-lg-12">
    <div class="col-lg-12">
        <div class="row">
            <div class="table-responsive">
                <table mat-table [dataSource]="dataSource" class="mat-elevation-z8 full-w">
                    <!--- Note that these columns can be defined in any order.
                                                    The actual rendered columns are set as a property on the row definition" -->
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Client </th>
                        <td mat-cell *matCellDef="let element"> {{element.name}} </td>
                    </ng-container>
                    <!-- Slug Column -->
                    <ng-container matColumnDef="slug">
                        <th mat-header-cell *matHeaderCellDef> Slug </th>
                        <td mat-cell *matCellDef="let element"> {{element.slug}} </td>
                    </ng-container>
                    <!-- Project Column -->
                    <ng-container matColumnDef="projects">
                        <th mat-header-cell *matHeaderCellDef> Project </th>
                        <td mat-cell *matCellDef="let element"> {{element.project.length}} </td>
                    </ng-container>
                    <!-- User Column -->
                    <ng-container matColumnDef="users">
                        <th mat-header-cell *matHeaderCellDef> User </th>
                        <td mat-cell *matCellDef="let element"> {{element.client_users.length}} </td>
                    </ng-container>
                    <!-- Username Column -->
                    <!-- <ng-container matColumnDef="username">
                                        <th mat-header-cell *matHeaderCellDef> Username </th>
                                        <td mat-cell *matCellDef="let element"> {{element.user.username}} {{element.user.id == auth.id? ' (You)':''}} </td>
                                      </ng-container> -->
                    <!-- First Name Column -->
                    <!-- <ng-container matColumnDef="first_name">
                                        <th mat-header-cell *matHeaderCellDef> First Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.user.user_details ? element.user.user_details.first_name : ''}} </td>
                                      </ng-container> -->
                    <!-- Last Name Column -->
                    <!-- <ng-container matColumnDef="last_name">
                                        <th mat-header-cell *matHeaderCellDef> Last Name </th>
                                        <td mat-cell *matCellDef="let element"> {{element.user.user_details ? element.user.user_details.last_name : ''}} </td>
                                      </ng-container> -->
                    <!-- Email Column -->
                    <!-- <ng-container matColumnDef="email">
                                        <th mat-header-cell *matHeaderCellDef> Email </th>
                                        <td mat-cell *matCellDef="let element"> {{element.user.email}} </td>
                                      </ng-container> -->
                    <!-- Options Column -->
                    <!-- <ng-container matColumnDef="action" *ngIf="auth">
                                        <th mat-header-cell *matHeaderCellDef> Option </th>
                                        <td mat-cell *matCellDef="let element"> 
                                          <a  class="btn btn-success mar-x-5" [routerLink]="element.user.id !== auth.id ?  [ '/sos/admin/projects', project_name , 'members' ,element.user.id ] : '/sos/admin/profile'" > <i class="fa fa-eye"></i></a> 
                                          <a  *ngIf="auth.role_id < 4 || element.user.id == auth.id" [title]="element.user.id == auth.id ? 'Leave from Project' : 'Remove from Project'" (click)="confirmRemoveFromProject(element)" class="btn btn-danger mar-x-5 font-white"><i class="fa fa-minus-circle"></i></a>
                                        </td>
                                      </ng-container> -->
                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
                </table>
                <mat-paginator *ngIf="length" [length]="length" [pageSize]="pageSize" [pageSizeOptions]="pageSizeOptions"
                    (page)="onPageChange($event)">
                    ></mat-paginator>
            </div>
        </div>
    </div>
</div>