<ngx-slick-carousel *ngIf="data.uploads" class="carousel" 
    #slickModal="slick-carousel"
    [config]="slideConfig"
    (init)="slickInit($event)"
    (breakpoint)="breakpoint($event)"
    (afterChange)="afterChange($event)"
    (beforeChange)="beforeChange($event)" >
    <div ngxSlickItem *ngFor="let upload of data.uploads" class="slide">
        <img src="{{upload.url ? upload.url : 'https://homestead.test/'+upload.path+'/'+upload.name}}" alt="" width="100%">
    </div>
</ngx-slick-carousel>
