<div class="col-lg-12 content-header text-center">
    <h2 class="header-title" *ngIf="project_name">{{project_name | uppercase}} Ticket</h2>
</div>
<div  *ngIf="auth" class="col-lg-12 content-option text-right mar-10 pad-10">
    <a href="#" *ngIf="auth.role_id < 4 && !ticketFormShow" (click)="toggleTicketForm()" class="btn btn-success mar-r-20 q-width"><i class="fa fa-plus-square mar-r-5 q-width"> Add New</i></a>
    <a href="#" *ngIf="auth.role_id < 4 && ticketFormShow" (click)="toggleTicketForm()" class="btn btn-warning mar-r-20 q-width"><i class="fa fa-chevron-left mar-r-5 q-width"> Return</i></a> 
</div>
<div  class="col-lg-12 content-main">
    <div *ngIf="!ticketFormShow" class="table-responsive table-striped">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Assignee</th>
                    <th scope="col">Status</th>
                    <th scope="col" class="text-center">Priority</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Created</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="loading" class="text-center">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="../../assets/icon/loading.gif"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody *ngIf="tickets && !loading">
                <tr class="clickable" *ngFor="let ticket of tickets">
                    <th scope="row">{{ticket.id}}</th>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.description | ellipsis:80}}</td>
                    <td [attr.data-user-id]="ticket.assigned_to.id">{{ticket.assigned_to.name}}</td>
                    <td>{{ticket.status.name | titlecase}}</td>
                    <td class="text-center" [ngStyle]="{'background-color': ticket.priority.color, 'color':'#fafafa'}">{{ticket.priority.name | titlecase}}</td>
                    <td>{{ticket.created_by}}</td>
                    <td>{{ticket.created_at}}</td>
                    <td>{{ ticket.updated_at == ticket.created_at ? '' : ticket.updated_at}}</td>
                    <td>
                        <a href="#"
                            [routerLink]="[ticket.id]"
                            class="btn btn-success mar-r-5"><i
                                class="fa fa-eye"></i></a>
                        <a href="#" (click)="deleteTicket(ticket.id)" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!tickets && !loading">
                <tr>
                    <td>No Ticket</td>
                </tr>
            </tbody>
        </table>
    </div>
   
    <form  *ngIf="ticketFormShow"  
        [@enterAnimation] mat-form 
        [formGroup]="ticketForm" id="ticketForm" 
        (submit)="addNewTicket()"
        novalidate>
        <!-- <div class="inline-block pull-left half-width text-left">
                <img class=""   *ngIf="(uploadedImage || defaultImage != null) && !loadingImage" ngShow="!loadingImage" [src]="defaultImage ? defaultImage : uploadedImage" width="100" height="100">
                <img class="rounded-circle" *ngIf="loadingImage" src="../../assets/icon/loading.gif"  width="50" height="50" alt="loading logo">
                <div>
                    <label for="file">Update</label>
                    <button mat-button color="accent" 
                            mat-mini-fab (click)="imgFileInput.click();">
                        <mat-icon>attachment</mat-icon>
                    </button> 
                    <input hidden type='file'#imgFileInput (change)="readUrl($event)">
                </div>
        </div> -->

        <!-- <div class="inline-block pull-left half-width">
            
        </div> -->
        <!-- Title -->
        <div class="half-width row">
            <div class="form-group half-width">
                <mat-form-field class="full-w">
                    <input matInput formControlName="title" placeholder="Title" [(ngModel)]="ticketToAdd.title" required>
                </mat-form-field>
            </div>
            <!-- Description -->
            <div class="form-group full-w">
                <mat-form-field class="full-w">
                    <textarea matInput formControlName="description" matTextareaAutosize matAutosizeMinRows=5  matAutosizeMaxRows=6 placeholder="Description" [(ngModel)]="ticketToAdd.description" required></textarea>
                </mat-form-field>
            </div>

             <!-- Priority -->
             <div class="form-group half-width">
                    <p *ngIf="!ticketPriorities.length " class="text-danger">No priority options found. Please check account settings - admin/settings.</p>
                    <mat-form-field>
                       <mat-label>Priority</mat-label>
                       <select matNativeControl #priority  formControlName="priority" [(ngModel)]="ticketToAdd.priority" name="priority">
                         <option *ngFor="let prio of ticketPriorities;let i = index" [value]="prio.id">
                           {{prio.name }}
                         </option>
                       </select>
                   </mat-form-field>
               </div>

             <!-- Assignee -->
             <div class="form-group half-width">
                 <p *ngIf="!members.length " class="text-danger">This project has no member yet. Consider adding one first.</p>
                <mat-form-field>
                    <mat-label>Assign to </mat-label>
                    <mat-select  matNativeControl #assignedTo  formControlName="assigned_to" (change)="assignTo(assignedTo.value)" [(ngModel)]="ticketToAdd.assigned_to" name="assigned_to" multiple>
                      <mat-option value="" selected>None</mat-option>
                      <mat-option *ngFor="let member of members;let i = index" [value]="member.user.id" [disabled]="isTagged(member.user_id)">
                        {{member.project_member_info.first_name }} {{ member.project_member_info.last_name }} ({{member.user.username}})
                      </mat-option>
                    </mat-select>
                    <!-- <mat-select [formControl]="assigned_to" #assignedTo (change)="assignTo(assignedTo.value)" [(ngModel)]="ticketToAdd.assigned_to" name="assigned_to" multiple>
                        <mat-option *ngFor="let member of members;let i = index" [attr.data-index]="i" [value]="member.user.id" [disabled]="isTagged(member.user_id)">
                            {{member.project_member_info.first_name }} {{ member.project_member_info.last_name }} ({{member.user.username}})
                        </mat-option>
                    </mat-select> -->
                </mat-form-field>
            </div>

            <!-- Tagged members -->
            <div class="form-group half-width">
                <p *ngIf="!taggable_members.length" class="text-danger">This project has no member yet. Consider adding one first.</p>
               <mat-form-field *ngIf="taggable_members.length">
                    <mat-label>Tag Member</mat-label>
                    <mat-select [formControl]="tagged_members" #tgbl_member (change)="tagTo(tgbl_member.value)"  multiple>
                        <mat-option *ngFor="let tgbl_member of taggable_members" [attr.data-index]="i" [value]="tgbl_member" >
                            {{tgbl_member.project_member_info.first_name }} {{ tgbl_member.project_member_info.last_name }} ({{tgbl_member.user.username}})
                        </mat-option>
                    </mat-select>
               </mat-form-field>
           </div>

             <!-- Action -->
             <div class="form-group full-w">
                <mat-action-row>
                    <button mat-button color="primary" [disabled]="(!ticketForm.valid && !ticketForm.touched ) || submitting" (click)="addNewTicket()" >Update</button>
                </mat-action-row>
            </div>
            <!-- <mat-form-field class="">
                <input matInput [matDatepicker]="picker" (blur)="setAge()" (input)="setAge()" formControlName="birth_date" placeholder="Birth Date" [matDatepicker]="picker" (focus)="picker.open()" [(ngModel)]="ticketToAdd.title" required [readonly]="!canEditData">
                <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
                <mat-datepicker touchUi="true" #picker (closed)="setAge()"></mat-datepicker>
                <mat-hint align="end">
                    <mat-icon class="mat-icon">schedule</mat-icon>
                    <span aria-live="polite">Age: {{ age ? age : 0}} </span>
                </mat-hint>
            </mat-form-field> -->

            <!-- <mat-form-field class="">
                <input matInput [(ngModel)]="ticketToAdd.title" formControlName="zip" #postalCode maxLength="4" placeholder="Postal Code" pattern="[0-9]{4}" required [readonly]="!canEditData">
                <mat-hint align="end">
                    <mat-icon>mode_edit</mat-icon>
                    <span aria-live="polite">{{postalCode.value.length}} / 4</span>
                </mat-hint>
            </mat-form-field> -->
        </div>
    </form>
</div>