<div class="col-lg-12 content-header text-center">
    <h2 class="header-title" *ngIf="project_name">{{project_name | uppercase}} Ticket</h2>
</div>
<div class="col-lg-12 content-option text-right mar-10 pad-10">
       <a href="#" (click)="addNewTicket()" class="btn btn-success mar-r-20 q-width"><i class="fa fa-plus-square mar-r-5 q-width"> Add New</i></a> 
</div>
<div class="col-lg-12 content-main">
    <div *ngIf="!ticket" class="table-responsive table-striped">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Title</th>
                    <th scope="col">Description</th>
                    <th scope="col">Assignee</th>
                    <th scope="col">Status</th>
                    <th scope="col">Created By</th>
                    <th scope="col">Created</th>
                    <th scope="col">Modified</th>
                    <th scope="col">Action</th>
                </tr>
            </thead>
            <tbody *ngIf="loading" class="text-center">
                <tr>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td class="text-center"><img src="../../assets/icon/loading.gif"></td>
                    <td></td>
                    <td></td>
                    <td></td>
                    <td></td>
                </tr>
            </tbody>
            <tbody *ngIf="tickets && !loading">
                <tr class="clickable" *ngFor="let ticket of tickets">
                    <th scope="row">{{ticket.id}}</th>
                    <td>{{ticket.title}}</td>
                    <td>{{ticket.description}}</td>
                    <td [attr.data-user-id]="ticket.assigned_to.id">{{ticket.assigned_to.name}}</td>
                    <td>{{ticket.status.name | titlecase}}</td>
                    <td>{{ticket.created_by}}</td>
                    <td>{{ticket.created_at}}</td>
                    <td>{{ ticket.updated_at == ticket.created_at ? '' : ticket.updated_at}}</td>
                    <td>
                        <a href="#" 
                            [routerLink]="['/admin/projects', project_name, 'tickets', ticket.id]" 
                            class="btn btn-success mar-r-5"><i
                                class="fa fa-eye"></i></a>
                        <a href="#" class="btn btn-danger"><i class="fa fa-trash"></i></a>
                    </td>
                </tr>
            </tbody>
            <tbody *ngIf="!tickets && !loading">
                <tr>
                    <td>No Ticket</td>
                </tr>
            </tbody>
            
        </table>
    </div>
    <div *ngIf="ticket" class="col-lg-12">
        <div class="thread-container col-lg-12">
            <h2>{{ticket.title}}</h2>
            <form>
                <!-- <div class="form-group">
                    <label for="exampleInputEmail1">Email address</label>
                    <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="Enter email">
                    <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
                    </div>
                    <div class="form-group">
                    <label for="exampleInputPassword1">Password</label>
                    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
                    </div> -->
                <div class="form-group">
                    <label for="exampleFormControlTextarea1">Description</label>
                    <textarea disabled class="form-control" id="exampleFormControlTextarea1"
                        rows="3">{{ticket.description}}</textarea>
                </div>
                <!-- <div class="form-check">
                    <input type="checkbox" class="form-check-input" id="exampleCheck1">
                    <label class="form-check-label" for="exampleCheck1">Check me out</label>
                    </div> -->
                <!-- <button type="submit" class="btn btn-primary">Submit</button> -->
            </form>
        </div>
        <div class="thread-container col-lg-12">
            <div *ngIf="ticket.thread" class="thread-list-container row mar-0 text-center">
                <div>
                    <label for="no-list" class="label text-info">Ticket has {{ticket.thread.length}} discussions</label>
                </div>
                <div *ngFor="let thread of ticket.thread" class="thread-message mar-y-10 full-w pad-0">
                    <div class="card thread-message-content">
                        <div class="card-body row">
                            <div [ngClass]="{'comment-own order-md-2': thread.message_by.name == loggedin_user}"
                                class="col card-header thread-message-head q-width border-rad-10 pad-20"> <label
                                    for="">{{thread.message_by.name == loggedin_user ? 'You' : thread.message_by.name }}</label>
                                : <label class="message-create">{{thread.created_at}}</label></div>
                            <div [ngClass]="{'text-right': thread.message_by.name == loggedin_user, 'text-left': thread.message_by.name != loggedin_user}"
                                class="col-lg-9 card-body thread-message-wrapper">{{thread.message}}</div>
                        </div>
                    </div>
                </div>
               
            </div>
            <div *ngIf="loading" class="col-lg-12 loading text-center">
                <img *ngIf="loading" src="../../assets/icon/loading.gif">
            </div>
            <div *ngIf="!ticket.thread" class="thread-list-container row mar-0 text-center">
                <label for="no-list" class="label text-danger">This ticket has not started a discussion yet.</label>
            </div>
           
            <div *ngIf="ticket.thread" class="thread-list-reply-container row mar-0 text-center">
                    <textarea 
                        *ngIf="replayView && !loading" class="form-control" id="commentReplayBox" rows="5"
                        #replyText (keyup)="onReplayKey(replyText.value)" (blur)="onReplayKey(replyText.value)"
                    ></textarea>
                    <div *ngIf="replayView && !loading" class="center">
                            <file-drop dropZoneLabel="Drop files here" (onFileDrop)="dropped($event)" 
                            (onFileOver)="fileOver($event)" (onFileLeave)="fileLeave($event)">
                                <span>optional content (don't set dropZoneLabel then)</span>
                            </file-drop>
                            <div class="upload-table">
                                <table class="table">
                                    <thead>
                                        <tr>
                                            <th>Name</th>
                                        </tr>
                                    </thead>
                                    <tbody class="upload-name-style">
                                        <tr *ngFor="let item of files; let i=index">
                                            <td><strong>{{ item.relativePath }}</strong></td>
                                        </tr>
                                    </tbody>
                                </table>
                            </div>
                        </div>
                <button type="submit" (click)="submitReplyBox()" class="btn btn-info mar-0-auto pad-x-30 font-25 mar-t-20">Reply</button>
            </div>
        </div>
    </div>
</div>