.hidden{
    display: none;
}

.area {
    width: 77%;
    padding: 15px;
    margin: 15px;
    border: 1px solid #333;
    background: rgba(0,0,0,0.7);
}

#dropZone {
    border: 2px dashed #bbb;
    -webkit-border-radius: 5px;
    border-radius: 5px;
    padding: 50px;
    text-align: center;
    font: 21pt bold arial;
    color: #bbb;
}

.drop-file-over{
  background: #333;
}
.search-result-container{
    background-color: lightgrey;
    margin-left: -4px;
    min-width: 235px!important;
}
div.search-member-row-result-container:nth-child(1){
    margin-top: 30px!important;
}
.close-search-result-btn{
    right: 0;
    color: #fafafa!important;
    padding: 5px 10px;
}

.ticket-description-info{
    resize: none;
    overflow: hidden;
    min-height: 50px;
    max-height: 100px;
}
.mar-l-10{
    margin-left: 10px;
}